.userPhoto img {
    width: 100px;
    height: 100px;
    padding: 10px;
}
.usersPages {
    cursor: pointer;
    padding: 5px;
    width: 50px;
}
.selectedPage {
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    transition: 0.5s;
}