.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr; /*2 грида: под имя диалога и сообщения*/
}

.dialogsItems {
    padding: 10px;
}

.dialog {
}

.dialog a {
    text-decoration: none;
    color: black;
}

.dialog img {
    width: 50px;
    border-radius: 50px;
}

.dialog a.activeLink {
    color: black;
    text-shadow: 1px 1px 9px black;
}

.messagesItem {
    padding: 10px;
}

.message {

}

.message img {
    width: 20px;
}

.messageFrom0 {
    text-align: right;
}

.messageFrom1 {
    text-align: left;
}
