.nav {
    grid-area: nav;
    background: linear-gradient(to top left, #9fd8f9, #d6f0ff);
}

.item a {
    color: black;
    text-decoration: none; /*Убрали подчеркивание использованных ссылок*/
    margin: 10px;
}

.item a.activeLink {
    color: black;
    text-shadow: 1px 1px 9px black;
}

.sidebar {
    margin-top: 100px;
}



