.post {
    color: #050404;
    display: grid;
    grid-template-columns: 30px 350px;
    grid-template-rows: 30px 20px;
    grid-template-areas:
    "avatar postText"
    "avatar like";
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    width: 380px;
}

.post img {
    width: 45px;
    border-radius: 30px;
    margin-top: 10px;
}

.avatar {
    grid-area: avatar;
}

.postText {
    grid-area: postText;
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 5px;
    background-color: #9fd8f9;
    border-radius: 10px;
}

.likeBlock {
    grid-area: like;
    position: absolute;
    right: 0px;
}

.likeBlock img {
    width: 13px;
    margin-right: 5px;
}