/*Разбили на два грида поле Messages*/
.dialogs {
    display: grid;                  
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
    text-decoration: none;
    color: rgb(253, 10, 10);
}

.dialogItems .active { /*Если в классе dialogItems сидит класс active,
                        то элемент будет оливковым*/
    color: olive;

}

.dialog {
    color: red;
}

.messages {
    padding: 10px;
    color: black;
}

.textarea {
    margin-left: 10px;
}

.button {
    margin-left: 10px;
}
