.title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sidebarFriends {
    margin-top: 100px;
    display: grid;
    grid-template-rows: 20px 40px 30px;
    grid-template-columns: 60px 60px 60px;
    grid-template-areas:
            "title title title"
            "ava ava ava"
            "name name name";
    justify-content: center;
}


.sidebarFriends img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}